.flex-container{
    display: flex;

    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* flex-direction:; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
    border: 2px solid gray;
    height: 45vh;
}
.flexitem {
    background-color: red;
    border: 2px solid black;
    margin: 10px;
    width: 120px;
    height: 120px;
    color: #fff;
    font-size: 23px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}